.div1
{
    border: 3px solid gray;
    padding: 10px;
    position: static;
}
.div2
{
    border: 3px solid green;
    padding: 10px;
    position: relative;
    left: 20px;
}
.div3
{
    position: fixed;
    width: 100%;
}
.div4
{
    border: red solid;
    position: relative;
    height: 300px;
}
.div5
{
    border: red solid;
    position: absolute;
    left: 100px;
    top: 200px;
}