
.div1
{
    grid-area: header;
}
.div2
{
    grid-area: manu;
}
.div3
{
    grid-area: main;
}
.div4
{
    grid-area: aside;
}
.div5
{
    grid-area: footer;
}
.grid-container
{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'manu main main main aside aside'
    'manu footer footer footer footer footer'
    ;
}
.grid-container > div
{
    background-color: brown;
    border: 2px solid green;
    font-size: 1.5rem;
    text-align: center;
}
